@model IFarmacias.Models.SoapResponse

<div class="col-12">
    
        @Html.HiddenFor(x => x.Date)
        @Html.HiddenFor(x => x.IdSoap)
    <table class="table no-header">
        <tbody>
            <tr>
                <td style="width:80px;">Subjetivo</td>
                <td>@Model.Subjective</td>
            </tr>
            <tr>
                <td>Objetivo</td>
                <td>@Model.Objective</td>
            </tr>
            <tr>
                <td>Avaliação</td>
                <td>@Model.Evaluation</td>
            </tr>
            <tr>
                <td>Plano</td>
                <td>@Model.Plan</td>
            </tr>
        </tbody>
    </table>
</div>
