@model IEnumerable<IFarmacias.Models.Response.RecipesResponse>
@if (Model.Any())
{
    <div class="col-12">
    <h4><strong>Pedidos de receituário médico</strong></h4>
    <p></p>
    <h4><strong>Receitas médicas</strong></h4>
        <div class="col-12 mdbc-nopad text-right">
            <br/>
            <table class="table z-depth-1 mdbc-table table-hover">
                <thead>
                <tr class="grey-text text-darken-1">
                    <td class="text-left">Número da receita</td>
                    <td>Código de acesso</td>
                    <td>Data</td>
                    <td>Acções</td>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-left">
                            @item.RecipeNumber
                        </td>
                        <td>@item.AccessCode</td>
                        <td>@item.DateCreated</td>

                        <td>
                            @Ajax.ActionLink("description", "_ModalViewReceita",
                    new
                    {
                        idConsulta = ViewBag.idConsulta,
                        idReceita = item.IdRecipes
                    },
                    new AjaxOptions()
                    {
                        UpdateTargetId = "modalReceita",
                        InsertionMode = InsertionMode.Replace,
                        OnSuccess = "onModalLoaded",
                        OnBegin = "onModalLoading"
                    },
                    new
                    {
                        @class = "material-icons mdbc-icon-md grey-text text-darken-2",
                        title = "Detalles",
                        data_toggle = "modal",
                        data_target = "#modalReceita"
                    })
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <br/>
        </div>
    </div>
}
else
{
    @_WebMedicoFormsHelpers.TabEmptyStateReceitas()
}
<div class="fixed-action-btn">
    @Ajax.ActionLink("add", "_ModalAddReceita",
        new
        {
            idConsulta = ViewBag.idConsulta
        },
        new AjaxOptions()
        {
            UpdateTargetId = "modalReceita",
            InsertionMode = InsertionMode.Replace,
            OnBegin = "onModalLoading",
            OnSuccess = "onModalLoaded"
        },
        new
        {
            @class = "btn-floating btn-large red material-icons white-text",
            data_toggle = "modal",
            data_target = "#modalReceita"
        })
</div>
