@using WebMedico.Hubs
@model WebMedico.Models.ConsultaDashBoardViewModel

@{
    ViewBag.Title = "PatientHistoricalRecord";
    Layout = "~/Views/Shared/_LayoutHistorical.cshtml";
}

<script>
    function enmascarar(estatus) {

        var estado = "";

        switch (estatus) {
            //Status code: 1
            case "Open":
                estado = "Aberto";
                break;
            //Status code: 2
            case "InProgress":
                estado = "Em progresso";
                break;
            //Status code: 3
            case "Invoiced":
                estado = "Facturado";
                break;
            //Status code: 4
            case "Scheduled":
                estado = "Programado";
                break;
            //Status code: 5
            case "Closed":
                estado = "Fechadas";
                break;
            //Status code: 6
            case "KeepInvoiced":
                estado = "Mantenha-se checado";
                break;
            //Status code: 7
            case "CanceledByPatient":
                estado = "Cancelado pelo paciente";
                break;
            //Status code: 8
            case "KeepConsultation":
                estado = "Manter consulta";
                break;
            default:
                estado = "status desconhecido";
                break;
        }
        return estado;
    }
</script>

<div class="col-12" style="background-color:white">
    @if (Model != null && Model.InProgressList.Any())
    {
        <div class="col-12 mdbc-nopad text-left">
            <br />
            <h4><strong>Histórico de consultas</strong></h4>
            <br />
        </div>

        <table class="table z-depth-1 mdbc-table table-hover">
            <thead>
                <tr>

                    <th><strong> Nome do paciente </strong></th>
                    <th><strong> Idade                </strong></th>
                    <th><strong> Sexo                </strong></th>
                    <th><strong> Razão              </strong></th>
                    <th><strong> Estado              </strong></th>
                    <th><strong> Data                </strong></th>
                    @*<th><i class="material-icons black-37">search</i></th>*@

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.InProgressList)
                {
                    <tr>
                        <td class="text-left">@item.Name        </td>
                        <td class="text-left">@item.Age         </td>
                        <td class="text-left">@item.Gender      </td>
                        <td class="text-left">@item.Description </td>
                        <td class="text-left">
                            <script>
                                    document.write(enmascarar("@item.Status"));
                            </script>
                        </td>
                        <td class="text-left">@item.Date.ToString("dd/MM/yyyy") </td>
                        @*<td>
                            @Ajax.ActionLink("description", "_ModalViewHistorico", item,
                            new AjaxOptions()
                            {
                                UpdateTargetId = "modalHistorico",
                                InsertionMode = InsertionMode.Replace,
                                OnSuccess = "onModalLoaded",
                                OnBegin = "onModalLoading",
                                OnComplete = "onModalHistoricoLoaded"
                            },
                                new
                                {
                                    @class = "material-icons mdbc-icon-md grey-text text-darken-2",
                                    title = "Detalles",
                                    data_toggle = "modal",
                                    data_target = "#modalHistorico"
                                })
                    </td>*@
                </tr>
                }

            </tbody>
        </table>

        <br />

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <a href="@Url.Action("PatientHistoricalRecord", "Home", new {skip = Model.Skip, take = Model.Take - 30})" class="btn btn-primary">
                        <i class="material-icons">file_download</i> Carregar consultas mais antigas
                    </a>
                </div>
            </div>
        </div>

        <div class="modal modal-ext mdbc-modal" id="modalHistorico" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true"></div>

    }
    else
    {
        <div class="col-4 offset-4 text-center">
            <br />
            <br />
            <br />
            <br />
            <div class="offset-1 col-10">
                <img class="col-12" src="~/Content/Images/logo.png" />
            </div>
            <br />
            <h3>Não existem dados</h3>
            <br />
        </div>
    }

</div>

<br />

<script>
    var model = @Html.Raw(Json.Encode(Model));
</script>
